USE [master]
GO
/****** Object:  Database [ProjectoTEN]    Script Date: 25/01/2022 22:46:01 ******/
CREATE DATABASE [ProjectoTEN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProjectoTEN', FILENAME = N'C:\Users\Vryzas\ProjectoTEN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProjectoTEN_log', FILENAME = N'C:\Users\Vryzas\ProjectoTEN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProjectoTEN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProjectoTEN]
GO
USE [ProjectoTEN]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 25/01/2022 22:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Criticas]    Script Date: 25/01/2022 22:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Criticas](
	[Id] [int] NOT NULL,
	[Video] [int] NOT NULL,
	[Critica] [nvarchar](max) NOT NULL,
	[Classificacao] [smallint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LinksVideos]    Script Date: 25/01/2022 22:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LinksVideos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](max) NOT NULL,
	[Link] [nvarchar](max) NOT NULL,
	[UtilizadorId] [int] NOT NULL,
	[Tags] [nvarchar](50) NOT NULL,
	[Descricao] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_LinksVideos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Utilizadores]    Script Date: 25/01/2022 22:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Utilizadores](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Tipo] [int] NOT NULL,
	[Descricao] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Linkedin] [nvarchar](max) NOT NULL,
	[Telefone] [int] NOT NULL,
 CONSTRAINT [PK_Utilizadores] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_LinksVideos_UtilizadorId]    Script Date: 25/01/2022 22:46:01 ******/
CREATE NONCLUSTERED INDEX [IX_LinksVideos_UtilizadorId] ON [dbo].[LinksVideos]
(
	[UtilizadorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Criticas]  WITH CHECK ADD  CONSTRAINT [FK_Criticas_LinksVideos] FOREIGN KEY([Video])
REFERENCES [dbo].[LinksVideos] ([Id])
GO
ALTER TABLE [dbo].[Criticas] CHECK CONSTRAINT [FK_Criticas_LinksVideos]
GO
ALTER TABLE [dbo].[LinksVideos]  WITH CHECK ADD  CONSTRAINT [FK_LinksVideos_Utilizadores] FOREIGN KEY([UtilizadorId])
REFERENCES [dbo].[Utilizadores] ([Id])
GO
ALTER TABLE [dbo].[LinksVideos] CHECK CONSTRAINT [FK_LinksVideos_Utilizadores]
GO
USE [master]
GO
